## Here we will have the sectors index computation:
### we will start each sector on the date the last stock has ipoed, or 10 years, deciding which is older. after new stock we rebalance but keep the value the same.
- data/numbers/market/SX/sectors:
    - sector.json: dict(stocks:list(ticker, perc_val), last_rebalance:datetime, ) 
    - sector.parquet: table(columns=[date, open, close, high, low, volume])
    - info.json: sec_dict(sector:list([stock, subsector]))

1. We rebalance if new stock comes
2. We rebalance each year??

In [4]:
root_path= "/Users/a2/code/fin/trade/data/price/market"
SX = "AT"

In [11]:
import os, json

p = "/Users/a2/code/fin/trade/data/fundamentals/company/info"
files = os.listdir(p)

with open("/Users/a2/code/fin/trade/static/tickers/AT_shitticker.json") as f:
    sh = json.load(f)

infos = []
for n, f in enumerate(files):
    if f.replace("json", "AT") in sh:
        continue
    with open(os.path.join(p, f)) as fp:
        t = json.load(fp)

    try:
        t["sector"]
    except:
        print(f)
    infos.append(t)

In [3]:
dd:dict[str, list[str]] = {}

for i in infos:

    if i["sector"] not in dd.keys():
        dd[i['sector']] = []
    if i['subsector'] not in dd[i['sector']]:
        dd[i['sector']].append(i['subsector'])

In [4]:
d_num = {}
for i in infos:
    if i["sector"] not in d_num.keys():
        d_num[i["sector"]] = 1  
    else:
        d_num[i["sector"]] +=1

In [5]:
d_num

{'Health Care': 3,
 'Retail': 7,
 'Industrial Goods & Services': 19,
 'Banks': 8,
 'Real Estate': 13,
 'Basic Resources': 17,
 'Technology': 11,
 'Personal Care, Drug & Grocery Stores': 2,
 'Telecommunications': 2,
 'Consumer Products & Services': 8,
 'Media': 2,
 'Construction & Materials': 13,
 'Utilities': 6,
 'Energy': 4,
 'Travel & Leisure': 6,
 'Insurance': 1,
 'Food Beverage & Tobacco': 9,
 'Financial Services': 5}

In [14]:
# wir bauen einen index fÃ¼r sektor.
sec_dict = {} # 2d array: ticker, subsector
for k in d_num.keys():
    sec_dict[k.strip()] = []

# name-> ticker
with open("/Users/a2/code/fin/trade/static/tickers/AT_name_ticker_en.json") as f:
    nt = json.load(f)

In [ ]:
for i in infos:
    try:
        sec_dict[i['sector'].strip()].append([nt[i["name"]], i["subsector"].strip()])
    except:
        print(i["name"])

In [16]:
sec_dict

{'Health Care': [['IATR', 'Health Care Services'],
  ['LAVI', 'Pharmaceuticals'],
  ['MEDIC', 'Medical Equipment']],
 'Retail': [['LANAC', 'Apparel Retailers'],
  ['BELA', 'Diversified Retailers'],
  ['ASCO', 'Specialty Retailers'],
  ['MODA', 'Home Improvement Retailers'],
  ['FOYRK', 'Diversified Retailers'],
  ['MOTO', 'Specialty Retailers'],
  ['NAKAS', 'Specialty Retailers']],
 'Industrial Goods & Services': [['FLEXO', 'Containers & Packaging'],
  ['EUROC', 'Back Office Support HR & Consulting'],
  ['DAIOS', 'Plastics'],
  ['HAIDE', 'Forms & Bulk Printing Services'],
  ['FRIGO', 'Machinery: Industrial'],
  ['PPA', 'Transportation Services'],
  ['BIOSK', 'Machinery: Industrial'],
  ['VOSYS', 'Industrial Suppliers'],
  ['VIS', 'Containers & Packaging'],
  ['ELTON', 'Industrial Suppliers'],
  ['CENER', 'Electrical Components'],
  ['INTET', 'Industrial Suppliers'],
  ['PETRO', 'Commercial Vehicles & Parts'],
  ['PLAKR', 'Plastics'],
  ['AIA', 'Transportation Services'],
  ['PLAT', 'Plastics'],
  ['PAIR', 'Containers & Packaging'],
  ['GEBKA', 'Industrial Suppliers'],
  ['OLTH', 'Transportation Services']],
 'Banks': [['TPEIR', 'Banks'],
  ['BOCHGR', 'Banks'],
  ['EUROB', 'Banks'],
  ['OPTIMA', 'Banks'],
  ['ETE', 'Banks'],
  ['TATT', 'Banks'],
  ['TELL', 'Banks'],
  ['ALPHA', 'Banks']],
 'Real Estate': [['PREMIA', 'Diversified REITs'],
  ['LAMDA', 'Real Estate Holding and Development'],
  ['KEKR', 'Real Estate Holding and Development'],
  ['PRODEA', 'Diversified REITs'],
  ['DIMAND', 'Real Estate Holding and Development'],
  ['ASTAK', 'Real Estate Services'],
  ['TRESTATES', 'Retail REITs.'],
  ['BRIQ', 'Office REITs'],
  ['TRASTOR', 'Diversified REITs'],
  ['INTERCO', 'Diversified REITs'],
  ['NOVAL', 'Retail REITs.'],
  ['BLEKEDROS', 'Diversified REITs'],
  ['ORILINA', 'Diversified REITs']],
 'Basic Resources': [['FIER', 'Textile Products'],
  ['PROFK', 'Iron & Steel'],
  ['EPIL', 'Textile Products'],
  ['MATHIO', 'Diversified Materials'],
  ['ELHA', 'Metal Fabricating'],
  ['MERKO', 'General Mining'],
  ['SIDMA', 'Iron & Steel'],
  ['LEBEK', 'Iron & Steel'],
  ['MPITR', 'Iron & Steel'],
  ['MOYZK', 'Textile Products'],
  ['KORDE', 'Iron & Steel'],
  ['VIO', 'Metal Fabricating'],
  ['AAAK', 'Textile Products'],
  ['ALMY', 'Aluminum'],
  ['MEVA', 'Metal Fabricating'],
  ['ELSTR', 'Iron & Steel'],
  ['NAYP', 'Textile Products']],
 'Technology': [['ILYDA', 'Software'],
  ['PROF', 'Computer Services'],
  ['INTRK', 'Computer Services'],
  ['CPI', 'Computer Hardware'],
  ['QUEST', 'Computer Services'],
  ['LOGISMOS', 'Software'],
  ['QUAL', 'Computer Services'],
  ['PERF', 'Computer Services'],
  ['MLS', 'Software'],
  ['INTEK', 'Computer Hardware'],
  ['ACAG', 'Computer Services']],
 'Personal Care, Drug & Grocery Stores': [['PAP', 'Personal Products'],
  ['SAR', 'Personal Products']],
 'Telecommunications': [['SPACE', 'Telecommunications Equipment'],
  ['OTE', 'Telecommunications Services']],
 'Consumer Products & Services': [['ELBE', 'Clothing & Accessories'],
  ['DROME', 'Household Furnishings'],
  ['MIN', 'Clothing & Accessories'],
  ['DUR', 'Clothing & Accessories'],
  ['OLYMP', 'Home Construction'],
  ['SATOK', 'Household Furnishings'],
  ['CENTR', 'Electronic Entertainment'],
  ['OTOEL', 'Rental & Leasing Services: Consumer']],
 'Media': [['AVE', 'Entertainment'], ['ATEK', 'Publishing']],
 'Construction & Materials': [['ELLAKTOR', 'Construction'],
  ['AVAX', 'Construction'],
  ['IKTIN', 'Building Materials: Other'],
  ['BIOT', 'Construction'],
  ['AKRIT', 'Building Materials: Other'],
  ['INKAT', 'Construction'],
  ['BIOKA', 'Building Materials: Other'],
  ['EKTER', 'Construction'],
  ['KLM', 'Construction'],
  ['DOMIK', 'Construction'],
  ['TITC', 'Cement'],
  ['PRD', 'Construction'],
  ['GEKTERNA', 'Construction']],
 'Utilities': [['TENERGY', 'Alternative Electricity'],
  ['EYDAP', 'Water'],
  ['PPC', 'Conventional Electricity'],
  ['EYAPS', 'Water'],
  ['ADMIE', 'Conventional Electricity'],
  ['MYTIL', 'Multi-Utilities']],
 'Energy': [['MOH', 'Oil Refining and Marketing'],
  ['ELPE', 'Oil Refining and Marketing'],
  ['REVOIL', 'Oil Refining and Marketing'],
  ['ELIN', 'Oil Refining and Marketing']],
 'Travel & Leisure': [['AEGN', 'Airlines'],
  ['OPAP', 'Casinos & Gambling'],
  ['INLOT', 'Casinos & Gambling'],
  ['KYRI', 'Travel & Tourism'],
  ['ATTICA', 'Travel & Tourism'],
  ['LAMPS', 'Hotels & Motels']],
 'Insurance': [['INLIF', 'Property and Casualty Insurance']],
 'Food Beverage & Tobacco': [['KYSA', 'Food Products'],
  ['SPIR', 'Farming Fishing Ranching & Plantations'],
  ['KRI', 'Food Products'],
  ['KARE', 'Tobacco'],
  ['KYLO', 'Food Products'],
  ['EEE', 'Soft Drinks'],
  ['KTILA', 'Distillers & Vintners'],
  ['EVROF', 'Food Products'],
  ['KEPEN', 'Food Products']],
 'Financial Services': [['ANDRO', 'Closed End Investments'],
  ['EXAE', 'Investment Services'],
  ['CNLCAP', 'Asset Managers & Custodians'],
  ['MIG', 'Diversified Financial Services'],
  ['ATRUST', 'Asset Managers & Custodians']]}

In [18]:
with open(os.path.join(root_path, SX, "sectors", "info.json"), "w") as f:
    json.dump(sec_dict, f)

### until here was preprocess

In [8]:
root_path= "/Users/a2/code/fin/trade/tradx/data/price/market"
SX = "AT"

In [9]:
import os, json
with open(os.path.join(root_path, SX, "sectors", "info.json"), "r") as f:
    dd:dict = json.load(f)

In [10]:
def normalize_sector_name(sector_name:str)->str:
    return sector_name.lower().replace(" ", "").replace("/", "-")

In [11]:
import datetime

for sector in dd.keys():
    sector_name = normalize_sector_name(sector_name=sector)
    sector_json = {}
    sector_json["stocks"] = [[x[0], 0] for x in dd[sector]]
    with open(os.path.join(root_path, SX, "sectors", sector_name+".json"), "w") as f:
        json.dump(sector_json,f)

In [23]:
with open("/Users/a2/code/fin/trade/tradx/static/tickers/AT_shitticker.json") as f:
    sh = json.load(f)

In [27]:
import yfinance as yf, os, json


non_equity = []
for file in os.listdir(os.path.join(root_path, SX, "sectors")):
    if not file.endswith(".json"):
        continue
    if file == "info.json":
        continue
    with open(os.path.join(root_path, SX, "sectors", file), "r") as f:
        sector_obj = json.load(f)
    mcaps = []
    for sx in sector_obj['stocks']:
        tt = sx[0]+".AT"
        if tt not in sh:
            ticker = yf.Ticker(tt)
            info = ticker.info
            if info['quoteType'] != "EQUITY":
                non_equity.append(tt)
                mcaps.append(0)
                continue

            try:
                mcaps.append(info['marketCap'])
            except:
                print(tt)
                raise RuntimeError
    if len(mcaps) == 0:
        print(file)
        continue
    full_sector_mcap = sum(mcaps)
    # we define the weights of the stocks in the sector.
    for i, sx in enumerate(sector_obj['stocks']):
        sx[1] = mcaps[i]/full_sector_mcap
    with open(os.path.join(root_path, SX, "sectors", file), "w") as f:
        json.dump(sector_obj, f)

In [16]:
sh.append("MLS.AT")
yf.Ticker("HTO.AT").info

{'address1': '99 Kifissias Avenue',
 'address2': 'Maroussi',
 'city': 'Athens',
 'zip': '151 24',
 'country': 'Greece',
 'website': 'https://www.cosmote.gr',
 'industry': 'Telecom Services',
 'industryKey': 'telecom-services',
 'industryDisp': 'Telecom Services',
 'sector': 'Communication Services',
 'sectorKey': 'communication-services',
 'sectorDisp': 'Communication Services',
 'longBusinessSummary': 'Hellenic Telecommunications Organization S.A. engages in the provision of telecommunications and related services to businesses and individuals primarily in Greece and Romania. It operates through OTE, COSMOTE Group \x96 Greece, and Telekom Romania Mobile segments. The company offers fixed and mobile telephony, broadband, information and communication technology, and pay television services; and international carrier services. It also provides mobile and satellite telecommunication, electronic money, e-commerce, financing, consultancy and security, real estate, insurance brokerage, training, retail, marketing, overdue accounts management, wholesale broadband, and infrastructure services, as well as television production and services. Hellenic Telecommunications Organization S.A. was incorporated in 1949 and is based in Athens, Greece. Hellenic Telecommunications Organization S.A. operates as a subsidiary of Deutsche Telekom AG.',
 'fullTimeEmployees': 10281,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Konstantinos  Nebis',
   'age': 50,
   'title': 'CEO, MD & Executive Chairman',
   'yearBorn': 1973,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Charalampos G. Mazarakis',
   'age': 59,
   'title': 'Executive Director & CFO of OTE Group',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Anastasios  Kapenis',
   'title': 'Accounting Director',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Evrikos  Sarsentis',
   'title': 'Head of Mergers, Acquisitions and Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Aristodimos  Dimitriadis',
   'age': 58,
   'title': 'Executive Director of Compliance, ERM & Insurance for OTE Group',
   'yearBorn': 1965,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Eirini  Nikolaidi',
   'age': 54,
   'title': 'Chief Legal & Regulatory Affairs Officer and Group Legal Counsel of OTE Group',
   'yearBorn': 1969,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Deppie  Tzimea',
   'title': 'Executive Director of Corporate Communications & Sustainability OTE Group',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Elena  Papadopoulou',
   'title': 'Chief Human Resources Officer  of OTE Group',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Michael  Tsamaz',
   'age': 64,
   'title': 'Managing Director',
   'yearBorn': 1959,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ioannis  Konstantinidis',
   'title': 'Chief Strategy, Transformation & Wholesale Officer of OTE Group',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 2,
 'boardRisk': 8,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 3,
 'overallRisk': 8,
 'governanceEpochDate': 1730419200,
 'irWebsite': 'https://www.ote.gr/en/web/guest/corporate/ir',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 15.03,
 'open': 15.02,
 'dayLow': 14.98,
 'dayHigh': 15.1,
 'regularMarketPreviousClose': 15.03,
 'regularMarketOpen': 15.02,
 'regularMarketDayLow': 14.98,
 'regularMarketDayHigh': 15.1,
 'dividendRate': 0.72,
 'dividendYield': 0.048899997,
 'exDividendDate': 1720051200,
 'payoutRatio': 0.551,
 'fiveYearAvgDividendYield': 4.14,
 'beta': 0.546,
 'trailingPE': 11.480917,
 'forwardPE': 10.269506,
 'volume': 154406,
 'regularMarketVolume': 154406,
 'averageVolume': 396732,
 'averageVolume10days': 585004,
 'averageDailyVolume10Day': 585004,
 'bid': 15.04,
 'ask': 15.05,
 'bidSize': 164300,
 'askSize': 355300,
 'marketCap': 6182071296,
 'fiftyTwoWeekLow': 12.65,
 'fiftyTwoWeekHigh': 16.12,
 'priceToSalesTrailing12Months': 1.7174805,
 'fiftyDayAverage': 15.4844,
 'twoHundredDayAverage': 14.45755,
 'currency': 'EUR',
 'enterpriseValue': 6520976896,
 'profitMargins': 0.15147,
 'floatShares': 188902680,
 'sharesOutstanding': 411041984,
 'heldPercentInsiders': 0.5586,
 'heldPercentInstitutions': 0.16799,
 'impliedSharesOutstanding': 422022016,
 'bookValue': 4.671,
 'priceToBook': 3.2198672,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1719705600,
 'earningsQuarterlyGrowth': 0.125,
 'netIncomeToCommon': 545200000,
 'trailingEps': 1.31,
 'forwardEps': 1.46,
 'enterpriseToRevenue': 1.812,
 'enterpriseToEbitda': 5.646,
 '52WeekChange': 0.12753189,
 'SandP52WeekChange': 0.30559802,
 'lastDividendValue': 0.7216,
 'lastDividendDate': 1720051200,
 'exchange': 'ATH',
 'quoteType': 'EQUITY',
 'symbol': 'HTO.AT',
 'underlyingSymbol': 'HTO.AT',
 'shortName': 'HELLENIC TELECOM. ORG.',
 'longName': 'Hellenic Telecommunications Organization S.A.',
 'firstTradeDateEpochUtc': 829899000,
 'timeZoneFullName': 'Europe/Athens',
 'timeZoneShortName': 'EET',
 'uuid': 'e9d40df0-3ce0-37b7-b19c-de92e4929aa7',
 'messageBoardId': 'finmb_393661',
 'gmtOffSetMilliseconds': 7200000,
 'currentPrice': 15.04,
 'targetHighPrice': 23.0,
 'targetLowPrice': 15.1,
 'targetMeanPrice': 18.13846,
 'targetMedianPrice': 18.0,
 'recommendationMean': 2.07692,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 13,
 'totalCash': 692800000,
 'totalCashPerShare': 1.684,
 'ebitda': 1155000064,
 'totalDebt': 1136099968,
 'quickRatio': 0.653,
 'currentRatio': 0.74,
 'totalRevenue': 3599500032,
 'debtToEquity': 61.481,
 'revenuePerShare': 8.63,
 'returnOnAssets': 0.09086,
 'returnOnEquity': 0.30020002,
 'freeCashflow': 338787488,
 'operatingCashflow': 1090800000,
 'earningsGrowth': 0.134,
 'revenueGrowth': 0.066,
 'grossMargins': 0.61334,
 'ebitdaMargins': 0.32088003,
 'operatingMargins': 0.20775,
 'financialCurrency': 'EUR',
 'trailingPegRatio': None}

In [35]:
non_equity

['MLS.AT', 'FIER.AT', 'DUR.AT']

In [29]:
sh

['G090312C1.AT', 'CMPB1.AT', 'CPLPB1.AT', 'SBB1.AT', 'TENERGFB2.AT', 'AETF.AT']

In [30]:
with open("/Users/a2/code/fin/trade/tradx/static/tickers/AT_non_equity.json", "w") as f:
    json.dump(non_equity, f)

In [37]:
for _ in non_equity:
    with open(("/Users/a2/code/fin/trade/tradx/data/fundamentals/company/info/AT/"+ _).replace(".AT", "")+ ".json", "r") as f:
        t = json.load(f)
    print(t["webpage"])

None
None
None

In [2]:
import pandas as pd

df = pd.read_parquet("/Users/a2/code/fin/trade/tradx/data/price/company/AT/daily/ALPHA.AT.parquet")

In [10]:
df.iloc[-1, 3]

np.float64(1.5800000429153442)

In [11]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-11 00:00:00+02:00,1.5100,1.578,1.505,1.5735,14049136,0.0,0.0
2024-11-12 00:00:00+02:00,1.5660,1.623,1.562,1.6195,16807315,0.0,0.0
2024-11-13 00:00:00+02:00,1.5950,1.627,1.583,1.6045,16071129,0.0,0.0
2024-11-14 00:00:00+02:00,1.6045,1.618,1.588,1.6065,7440826,0.0,0.0
2024-11-15 00:00:00+02:00,1.5835,1.590,1.561,1.5800,2098985,0.0,0.0

In [14]:
import datetime
df.loc[datetime.date(2024, 12, 4), "Close"]

KeyError: datetime.date(2024, 12, 4)

In [26]:
datetime.date(1987, 1, 2) in df.index

False

In [27]:
df.index[0]

Timestamp('1987-01-02 00:00:00+0200', tz='Europe/Athens')

In [41]:
from pandas.core.indexes.datetimes import Timestamp


pd.read_parquet("/Users/a2/code/fin/trade/tradx/data/price/company/AT/daily/IATR.AT.parquet").loc[Timestamp('2014-12-06 00:00:00+0200', tz='Europe/Athens'), "Close"]

KeyError: Timestamp('2014-12-06 00:00:00+0200', tz='Europe/Athens')

In [36]:
pd.read_parquet("/Users/a2/code/fin/trade/tradx/data/price/market/AT/sectors/energy.parquet").head(50)

                        date     value
0  2014-12-04 00:00:00+02:00  3.052420
1  2014-12-05 00:00:00+02:00  3.302971
2  2014-12-06 00:00:00+02:00  0.000000
3  2014-12-07 00:00:00+02:00  0.000000
4  2014-12-08 00:00:00+02:00  3.216247
5  2014-12-09 00:00:00+02:00  2.898904
6  2014-12-10 00:00:00+02:00  2.814071
7  2014-12-11 00:00:00+02:00  2.774475
8  2014-12-12 00:00:00+02:00  2.687875
9  2014-12-13 00:00:00+02:00  0.000000
10 2014-12-14 00:00:00+02:00  0.000000
11 2014-12-15 00:00:00+02:00  2.668645
12 2014-12-16 00:00:00+02:00  2.685916
13 2014-12-17 00:00:00+02:00  2.676384
14 2014-12-18 00:00:00+02:00  2.775937
15 2014-12-19 00:00:00+02:00  2.765288
16 2014-12-20 00:00:00+02:00  0.000000
17 2014-12-21 00:00:00+02:00  0.000000
18 2014-12-22 00:00:00+02:00  2.669623
19 2014-12-23 00:00:00+02:00  2.617978
20 2014-12-24 00:00:00+02:00  0.000000
21 2014-12-25 00:00:00+02:00  0.000000
22 2014-12-26 00:00:00+02:00  0.000000
23 2014-12-27 00:00:00+02:00  0.000000
24 2014-12-28 00:00:00+02:00  0.000000
25 2014-12-29 00:00:00+02:00  2.527120
26 2014-12-30 00:00:00+02:00  2.713043
27 2014-12-31 00:00:00+02:00  2.730142
28 2015-01-01 00:00:00+02:00  0.000000
29 2015-01-02 00:00:00+02:00  2.741342
30 2015-01-03 00:00:00+02:00  0.000000
31 2015-01-04 00:00:00+02:00  0.000000
32 2015-01-05 00:00:00+02:00  2.549079
33 2015-01-06 00:00:00+02:00  0.000000
34 2015-01-07 00:00:00+02:00  2.469177
35 2015-01-08 00:00:00+02:00  2.426468
36 2015-01-09 00:00:00+02:00  2.469357
37 2015-01-10 00:00:00+02:00  0.000000
38 2015-01-11 00:00:00+02:00  0.000000
39 2015-01-12 00:00:00+02:00  2.600674
40 2015-01-13 00:00:00+02:00  2.736399
41 2015-01-14 00:00:00+02:00  2.573368
42 2015-01-15 00:00:00+02:00  2.535286
43 2015-01-16 00:00:00+02:00  2.544400
44 2015-01-17 00:00:00+02:00  0.000000
45 2015-01-18 00:00:00+02:00  0.000000
46 2015-01-19 00:00:00+02:00  2.597181
47 2015-01-20 00:00:00+02:00  2.597327
48 2015-01-21 00:00:00+02:00  2.551679
49 2015-01-22 00:00:00+02:00  2.541064