In [9]:
from transformers import TrOCRProcessor, VisionEncoderDecoderModel
from PIL import Image
import requests

In [15]:
image = Image.open('/Users/a2/Desktop/Bildschirmfoto 2024-11-04 um 21.15.37.png').convert("RGB")

In [3]:
processor = TrOCRProcessor.from_pretrained('microsoft/trocr-base-printed')
model = VisionEncoderDecoderModel.from_pretrained('microsoft/trocr-base-printed')
pixel_values = processor(images=image, return_tensors="pt").pixel_values

generated_ids = model.generate(pixel_values)
generated_text = processor.batch_decode(generated_ids, skip_special_tokens=True)[0]
print(generated_text)

Config of the encoder: <class 'transformers.models.vit.modeling_vit.ViTModel'> is overwritten by shared encoder config: ViTConfig {
  "attention_probs_dropout_prob": 0.0,
  "encoder_stride": 16,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.0,
  "hidden_size": 768,
  "image_size": 384,
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "layer_norm_eps": 1e-12,
  "model_type": "vit",
  "num_attention_heads": 12,
  "num_channels": 3,
  "num_hidden_layers": 12,
  "patch_size": 16,
  "qkv_bias": false,
  "transformers_version": "4.46.1"
}

Config of the decoder: <class 'transformers.models.trocr.modeling_trocr.TrOCRForCausalLM'> is overwritten by shared decoder config: TrOCRConfig {
  "activation_dropout": 0.0,
  "activation_function": "gelu",
  "add_cross_attention": true,
  "attention_dropout": 0.0,
  "bos_token_id": 0,
  "classifier_dropout": 0.0,
  "cross_attention_hidden_size": 768,
  "d_model": 1024,
  "decoder_attention_heads": 16,
  "decoder_ffn_dim": 4096,
  "decoder_layerdrop": 0.0,
  "decoder_layers": 12,
  "decoder_start_token_id": 2,
  "dropout": 0.1,
  "eos_token_id": 2,
  "init_std": 0.02,
  "is_decoder": true,
  "layernorm_embedding": true,
  "max_position_embeddings": 512,
  "model_type": "trocr",
  "pad_token_id": 1,
  "scale_embedding": false,
  "transformers_version": "4.46.1",
  "use_cache": false,
  "use_learned_position_embeddings": true,
  "vocab_size": 50265
}

Some weights of VisionEncoderDecoderModel were not initialized from the model checkpoint at microsoft/trocr-base-printed and are newly initialized: ['encoder.pooler.dense.bias', 'encoder.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
/Users/a2/anaconda3/envs/trade/lib/python3.12/site-packages/transformers/generation/utils.py:1375: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

THANK

In [1]:
import os
%pip install paddlepaddle

Requirement already satisfied: paddlepaddle in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (2.6.2)
Requirement already satisfied: httpx in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (0.27.2)
Requirement already satisfied: numpy>=1.13 in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (1.24.4)
Requirement already satisfied: Pillow in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (10.4.0)
Requirement already satisfied: decorator in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (5.1.1)
Requirement already satisfied: astor in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (0.8.1)
Requirement already satisfied: opt-einsum==3.3.0 in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (3.3.0)
Requirement already satisfied: protobuf>=3.20.2 in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from paddlepaddle) (5.28.3)
Requirement already satisfied: anyio in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from httpx->paddlepaddle) (4.5.2)
Requirement already satisfied: certifi in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from httpx->paddlepaddle) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from httpx->paddlepaddle) (1.0.6)
Requirement already satisfied: idna in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from httpx->paddlepaddle) (3.10)
Requirement already satisfied: sniffio in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from httpx->paddlepaddle) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from httpcore==1.*->httpx->paddlepaddle) (0.14.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from anyio->httpx->paddlepaddle) (1.2.2)
Requirement already satisfied: typing-extensions>=4.1 in /Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages (from anyio->httpx->paddlepaddle) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from paddleocr import PaddleOCR, draw_ocr
import numpy as np

In [16]:
ocr = PaddleOCR(use_angle_cls=True, lang='en')

[2024/11/04 21:15:59] ppocr DEBUG: Namespace(alpha=1.0, alphacolor=(255, 255, 255), benchmark=False, beta=1.0, binarize=False, cls_batch_num=6, cls_image_shape='3, 48, 192', cls_model_dir='/Users/a2/.paddleocr/whl/cls/ch_ppocr_mobile_v2.0_cls_infer', cls_thresh=0.9, cpu_threads=10, crop_res_save_dir='./output', det=True, det_algorithm='DB', det_box_type='quad', det_db_box_thresh=0.6, det_db_score_mode='fast', det_db_thresh=0.3, det_db_unclip_ratio=1.5, det_east_cover_thresh=0.1, det_east_nms_thresh=0.2, det_east_score_thresh=0.8, det_limit_side_len=960, det_limit_type='max', det_model_dir='/Users/a2/.paddleocr/whl/det/en/en_PP-OCRv3_det_infer', det_pse_box_thresh=0.85, det_pse_min_area=16, det_pse_scale=1, det_pse_thresh=0, det_sast_nms_thresh=0.2, det_sast_score_thresh=0.5, draw_img_save_dir='./inference_results', drop_score=0.5, e2e_algorithm='PGNet', e2e_char_dict_path='./ppocr/utils/ic15_dict.txt', e2e_limit_side_len=768, e2e_limit_type='max', e2e_model_dir=None, e2e_pgnet_mode='fast', e2e_pgnet_score_thresh=0.5, e2e_pgnet_valid_set='totaltext', enable_mkldnn=False, formula=False, formula_algorithm='LaTeXOCR', formula_batch_num=1, formula_char_dict_path=None, formula_model_dir=None, fourier_degree=5, gpu_id=0, gpu_mem=500, help='==SUPPRESS==', image_dir=None, image_orientation=False, invert=False, ir_optim=True, kie_algorithm='LayoutXLM', label_list=['0', '180'], lang='en', layout=True, layout_dict_path=None, layout_model_dir=None, layout_nms_threshold=0.5, layout_score_threshold=0.5, max_batch_size=10, max_text_length=25, merge_no_span_structure=True, min_subgraph_size=15, mode='structure', ocr=True, ocr_order_method=None, ocr_version='PP-OCRv4', onnx_providers=False, onnx_sess_options=False, output='./output', page_num=0, precision='fp32', process_id=0, re_model_dir=None, rec=True, rec_algorithm='SVTR_LCNet', rec_batch_num=6, rec_char_dict_path='/Users/a2/anaconda3/envs/py38/lib/python3.8/site-packages/paddleocr/ppocr/utils/en_dict.txt', rec_image_inverse=True, rec_image_shape='3, 48, 320', rec_model_dir='/Users/a2/.paddleocr/whl/rec/en/en_PP-OCRv4_rec_infer', recovery=False, recovery_to_markdown=False, return_word_box=False, save_crop_res=False, save_log_path='./log_output/', savefile=False, scales=[8, 16, 32], ser_dict_path='../train_data/XFUND/class_list_xfun.txt', ser_model_dir=None, show_log=True, sr_batch_num=1, sr_image_shape='3, 32, 128', sr_model_dir=None, structure_version='PP-StructureV2', table=True, table_algorithm='TableAttn', table_char_dict_path=None, table_max_len=488, table_model_dir=None, total_process_num=1, type='ocr', use_angle_cls=True, use_dilation=False, use_gpu=False, use_mlu=False, use_mp=False, use_npu=False, use_onnx=False, use_pdf2docx_api=False, use_pdserving=False, use_space_char=True, use_tensorrt=False, use_visual_backbone=True, use_xpu=False, vis_font_path='./doc/fonts/simfang.ttf', warmup=False)

In [25]:
image_array = np.array(image)

ocr_output_table = ocr.ocr(image_array)[0]

[2024/11/04 22:05:26] ppocr DEBUG: dt_boxes num : 100, elapsed : 0.31589293479919434
[2024/11/04 22:05:26] ppocr DEBUG: cls num  : 100, elapsed : 0.5760009288787842
[2024/11/04 22:05:38] ppocr DEBUG: rec_res num  : 100, elapsed : 11.309046983718872

In [31]:
import pandas as pd

# Helper functions to determine rows and columns based on Y and X coordinates.
def get_average_y(box):
    if len(box) < 4:
        raise ValueError("Box does not have enough coordinates to calculate average Y.")
    return (box[0][1] + box[2][1]) / 2

def get_average_x(box):
    if len(box) < 4:
        raise ValueError("Box does not have enough coordinates to calculate average X.")
    return (box[0][0] + box[2][0]) / 2

# Group by approximate rows based on y-coordinate proximity (tolerance of 10 pixels)
tolerance = 10
sorted_output_table = sorted(ocr_output_table, key=lambda item: get_average_y(item[0]))
rows_table = []
current_row_table = []
current_y_table = get_average_y(sorted_output_table[0][0])

for item in sorted_output_table:
    avg_y = get_average_y(item[0])
    if abs(avg_y - current_y_table) <= tolerance:
        current_row_table.append(item)
    else:
        # Sort current row by x-coordinate to align in columns
        rows_table.append(sorted(current_row_table, key=lambda item: get_average_x(item[0])))
        current_row_table = [item]
        current_y_table = avg_y

# Append the last row
if current_row_table:
    rows_table.append(sorted(current_row_table, key=lambda item: get_average_x(item[0])))

# Create a DataFrame from the structured rows and columns
aggressive_x_tolerance = 50  # Aggressive tolerance for creating new columns based on x-coordinate difference

table_data_2 = []
for row in rows_table:
    row_data = []
    previous_x = None
    for entry in row:
        current_x = get_average_x(entry[0])
        if previous_x is not None and (current_x - previous_x) > aggressive_x_tolerance:
            row_data.append("")  # Add empty cell for new column separation
        row_data.append(entry[1][0])
        previous_x = current_x
    table_data_2.append(row_data)

# Adjust for variable column lengths (fill missing columns with empty strings)
max_columns_2 = max(len(row) for row in table_data_2)
table_data_2 = [row + ["" ] * (max_columns_2 - len(row)) for row in table_data_2]

# Convert to DataFrame
df_2 = pd.DataFrame(table_data_2)

In [ ]:
df_2

In [23]:
import pandas
from img2table.document import Image

from img2table.ocr import EasyOCR

ocr = EasyOCR(lang=["en"])
src = '/Users/a2/Desktop/Bildschirmfoto 2024-11-07 um 18.03.27.png'
image = Image(src, 
              detect_rotation=False)
extracted_tables = image.extract_tables(ocr=ocr,
                                      implicit_rows=False,
                                      implicit_columns=False,
                                      borderless_tables=True,
                                      min_confidence=50)

In [27]:
extracted_tables[1].df

,0,1,2,3,4,5,6
0,Products,"69,958","67,184",None,"294,866","294,866","298,085"
1,Services,"24,972",22314,None,"96,169","96,169","85,200"
2,Total net sales (1),"94,930","89,498",None,"391,035","391,035","383,285"
3,Cost of sales:,None,None,None,None,None,None
4,Products,None,"42,586",None,"185,233","185,233","189,282"
5,Services,"6,485","6,485",None,"25,119","25,119","24,855"
6,Total cost of sales,"51,051","49,071",None,"210,352","210,352","214,137"
7,Gross margin,"43,879","40,427",None,"180,683","180,683","169,148"
8,Operating expenses:,None,None,None,None,None,None
9,Research and development,"7,765","7,307",None,"31,370","31,370","29,915"
10,"Selling, general and administrative","6,523","6,151",None,"26,097","26,097",None
11,Total operating expenses,"14,288","13,458",None,"57,467","57,467","54,847"
12,Operating income,"29,591","26,969",None,"123,216",None,"114,301"
13,"Other incomel(expense) , net",19,29,None,269,None,(565)
14,Income before provision for income taxes,"29,610","26,998",None,"123,485",None,"113,736"
15,Provision for income taxes,None,None,None,29.749,None,"16,741"
16,Net income,"14,736","22,956",None,"93,736",None,"96,995"
17,Earnings per share:,None,None,None,None,None,None
18,Basic,0.97,1.47,None,6.11,None,6.16
19,Diluted,0.97,1.46,None,6.08,None,6.13
20,Shares used in computing earnings per share:,None,None,None,None,None,None
21,Basic,"15,171,990","15,599,434",None,None,None,"15,744,231"
22,Diluted,"15,242,853","15,672,400",None,"15,408,095",None,"15,812,547"
23,Net sales by reportable segment:,None,None,None,None,None,None
24,Americas,"41,664","40,115",None,"167,045",None,"162,560"
25,Europe,"24,924","22,463",None,"101,328",None,"94,294"
26,Greater China,"15,033","15,084",None,"66,952",None,"72,559"
27,Japan,"5,926","5,505",None,"25,052",None,"24,257"
28,Rest of Asia Pacific,7383,"6,331",None,"30,658",None,"29,615"
29,Total net sales,"94,930","89,498","89,498","391,035",None,"383,285"
30,Net sales by category:,None,None,None,None,None,None
31,iPhone,"46,222","43,805","43,805","201,183",None,"200,583"
32,Mac,"7,744","7,614","7,614","29,984",None,"29,357"
33,iPad,"6,950","6,443","6,443","26,694",None,"28,300"
34,Wearables; Home and Accessories,"9,042","9,322","9,322","37,005",None,"39,845"
35,Services,"24,972",22314,22314,"96,169",None,"85,200"
36,Total net sales,"94,930","89,498","89,498","391,035",None,"383,285"

In [1]:
import pandas