In [4]:
import tabula
import pandas as pd

p = '/Users/a2/Downloads/DOL ΕΝΑ-2024-202 (23 Oct).pdf'

# Tabelle aus PDF extrahieren
df = tabula.read_pdf(p, pages='all', multiple_tables=True)

Got stderr: Okt. 23, 2024 11:28:37 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'Helvetica-Bold' for 'Calibri,Bold'
Okt. 23, 2024 11:28:38 NACHM. org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNUNG: Using fallback font 'Helvetica-Bold' for 'Calibri,Bold'
Okt. 23, 2024 11:28:40 NACHM. org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNUNG: No Unicode mapping for c1down (140) in font Wingdings3
Okt. 23, 2024 11:28:40 NACHM. org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNUNG: No Unicode mapping for a2up (35) in font Wingdings3
Okt. 23, 2024 11:28:40 NACHM. org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNUNG: No Unicode mapping for g51 (172) in font Wingdings3
Okt. 23, 2024 11:28:40 NACHM. org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNUNG: No Unicode mapping for triangleup (112) in font Wingdings3

In [6]:
df[0]

,"Total Transactions Value (€): 471,967.17",Unnamed: 0,Athex Capitalisation (€)
0,"Athex Capitalisation (€): 608,091,788.85",NaN,630.0
1,"620Daily change: € | % -1,739,837.57",-0.29%,NaN
2,NaN,NaN,610.0
3,Yearly Avg Capitalisation: € | % chng prev yea...,57.28%,600.0
4,NaN,NaN,590.0
5,Athex Alternative Market Share Price Index | %...,-0.29%,580.0
6,Athex Alternative Market Share Price Index Cap...,NaN,570.0